@model IEnumerable<Nonamii.Models.Inventory.Menu>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <div class="grid-container">
        <header class="header">
            <div class="menu-icon" onclick="openSidebar()">
                <span class="material-icons-outlined">menu</span>
            </div>
            <div class="header-left">
                <span class="material-symbols-outlined">search</span>
            </div>
            <div class="header-right">
                <span class="material-symbols-outlined"> notifications </span>
                <span class="material-symbols-outlined"> mail </span>
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-white"><span class="material-symbols-outlined"> account_circle </span></button>
                </form>
            </div>
        </header>

        <aside id="sidebar">
            <div class="sidebar-title">
                <div class="sidebar-brand">
                    <span class="material-symbols-outlined"></span> Menu
                </div>
                <span class="material-symbols-outlined" onclick="closeSidebar()">close</span>
            </div>
            <ul class="sidebar-list">
                <li class="sidebar-list-item">
                        <a class="btn btn-dark bg-transparent"
                           style="width:100%;">
                            Menu
                        </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="/MenuTypes/Index" class="btn btn-transparent bg-transparent" style="width:100%;">
                        <span class="material-symbols-outlined"></span> Menu Types
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="/MenuItems/Index" class="btn btn-transparent bg-transparent" style="width:100%;">
                        <span class="material-symbols-outlined"></span> Menu Items
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="/Extras/Index" class="btn btn-transparent bg-transparent" style="width:100%;">
                        <span class="material-symbols-outlined"></span> Extras
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="/MenuItemExtras/Index" class="btn btn-transparent bg-transparent" style="width:100%;">
                        <span class="material-symbols-outlined"></span> MenuItem Extras
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="/Sizes/Index" class="btn btn-transparent bg-transparent" style="width:100%;">
                        <span class="material-symbols-outlined"></span> Sizes
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="/MenuItemSizes" class="btn btn-transparent bg-transparent" style="width:100%;">
                        <span class="material-symbols-outlined"></span> MenuItem Sizes
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="/Prices/Index" class="btn btn-transparent bg-transparent" style="width:100%;">
                        <span class="material-symbols-outlined"></span> Prices
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="/Prices/Index" class="btn btn-transparent bg-transparent" style="width:100%;">
                        <span class="material-symbols-outlined"></span> Pricing
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a class="btn btn-transparent bg-transparent" style="width:100%;">
                        <span class="material-symbols-outlined"></span> Menu Categories
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="/MenuItemCategories/Index" class="btn btn-transparent bg-transparent" style="width:100%;">
                        <span class="material-symbols-outlined"></span> Menu Item Categories
                    </a>
                </li>
            </ul>

        </aside>

        <main class="main-container">
            <div class="main-title">
                <p class="font-weight-bold"> Menus</p>
            </div>



            <table class="table table-dark table-striped table-borderless">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.UserId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TypeId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>


            <p>
                <a class="btn btn-primary" asp-action="Create">Create New</a>
            </p>

        </main>
    </div>

    <script src="/javascript/scripts.js"></script>
</body>
</html