@model IEnumerable<Order>

<div style="width:90%;margin:auto;" class="mt-3">
    @if (Model != null && Model.Count() > 0)
    {
        <h4 class="text-primary text-center">Orders</h4>

        <table class="table table-borderless table-dark table-striped" style="width:100%;">
            <tr>
                <th>
                    Date Created
                </th>
                <th>
                    Order Status
                </th>
                <th>
                    Order Details
                </th>
            </tr>
            @foreach (var order in Model)
            {
                <tr>
                    <td>
                        @order.DateCreated.ToString("dd-MM-yyyy")
                    </td>
                    <td>@order.OrderStatus.Status</td>
                    <td>
                        @if(order.OrderDetails != null && order.OrderDetails.Count() > 0)
                    {
                        @foreach(var item in order.OrderDetails)
                        {
                            <td>
                                    @if (string.IsNullOrEmpty(item.MenuItem.Image))
                                    {
                                    <img src="#" alt="no image found" />
                                    }
                                    else
                                    {
                                    <img src="@item.MenuItem.Image" alt="@item.MenuItem.Name" style="width:80px;height:100px;" />
                                    }
                            </td>
                            <td>
                                    @item.MenuItem.Name
                            </td>
                            <td>
                                    @item.MenuItem.Price
                            </td>
                            <td>
                                    @(item.MenuItem.Price * item.Quantity)
                            </td>
                        }
                    }
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <h4>No orders to display</h4>
    }
    <a href="/Orders/GetAllUserOrders" class="btn btn-primary">All Orders</a>
</div>